<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app = "app">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href='css/style.css' rel="stylesheet" type="text/css" />

<link href='css/basic.css' rel="stylesheet" type="text/css" />
<link href='css/dropzone.css' rel="stylesheet" type="text/css" />
<link href='css/uploadbutton.css' rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bitter:bold" rel="stylesheet">
<script src="js/app.js" type="text/javascript"></script>
<script src="js/dropzone.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>


<script src="js/main.js" type="text/javascript"></script>
<head>
    <title>Kotlin code inspector</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body style="background-color:#0582CA;" ng-controller = "Ctrl">


<nav class="navbar navbar-inverse navbar-static-top example-8">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand text-hide" href="#"><img src="img/logo.png" class="center-block" alt="Error loading image!" align="center" height="100" width="246">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#" id = "home">Home</a></li>
            <li><a href="#" id = "info">Info</a></li>
            <li><a href="#" id = "about" >About</a></li>
        </ul>

    </div>

</nav>


<center><h3>Welcome to Codetlin - your best online Kotlin code inspector</h3> </center>

<br>
<br>
<p>
<h4>Drop your project into below form, check boxes and watch magic happens!</h4>



<br>
<br>


<h2>How to start?</h2>

<ul >
    <h3> <li >Throw your project into shiny form</li> </h3>
    <h3> <li >Set options below</li> </h3>
    <h3> <li >Profit!</li> </h3>
</ul>

<br>
<br>




<br>
<div class = "container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form action="/upload"
                  class="dropzone"
                  id="myD"
                  enctype="multipart/form-data"></form>
            <div class="col-md-4">
                <div class="upload-btn-wrapper">
                    <button class="btn">Upload a directory <input type='file' name="ff" id = "inputa" webkitdirectory mozdirectory/></button>

                </div>





            </div>
            <div class="col-md-4">


                <div class="dropzone-previews" id = "pre" style="display:none ">
                    <span style="font-size:8.0em;" class="glyphicon glyphicon-folder-open"></span>



                    <div id = "totalFiles"></div>
                    <br>
                    <div id = "totalSize"></div>
                </div>



            </div>
            <div class="col-md-4">


                <div class="text-right">
                    <button class="custom-btn btn-outlined btn-theme btn-lg" ng-click="clearFiles()" id="clearFilesButton" style="display: none">Clear all files</button>
                </div>



            </div>




        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading text-center"><h3>Codetlin settings</h3></div>
                <div class="panel-body">
                    <div class="col-md-6">

                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                Ignore comments
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                Ignore naming conventions
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                Check for documentation
                            </label>
                        </div>


                    </div>

                    <div class="col-md-6">
                        <div class="row">
                        <div class="form-check">
                            <div class="col-md-6">
                            <label class="form-check-label">
                                <input id="test" type="range" min="0" max="10" step="1" value="7" name="weight" oninput="styleWeight.value = test.value"><label for="test">Style weight</label>
                                </label>
                            </div>
                            <div class="col-md-6">
                            <output id="styleWeight" style="font-weight: bold" >7</output>
                            </div>

                        </div>
                        </div>
                        <div class="row">
                            <div class="form-check">
                                <label for="quantity">Max returns in single function:</label> <input type="number" id="quantity" min="1" max="5" value="2"/></div>
                        </div>
                    </div>


                    </div>

                </div>
            </div>
        </div>
    </div>








</div>



<br>
<br>

<div class = "text-center">
<button class="custom-btn btn-outlined btn-theme btn-lg" ng-click="upload()"><h2>TEST</h2></button>
</div>

<script src="js/app.js" type="text/javascript"></script>
</body>
</html>