.container{
    width: 100%;
}

.navbar-default {
    border-color: black;
    margin-bottom: 0;
}
.nav-tabs {
    font-family: 'Lora', sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: #342E2A;
    background-color: #342E2A;
    margin-bottom: 0;
}
.tab-content{
    margin-top: 0;
    background-color: #6B5F4F;
    color: #E9E5DC;
    width: 100%;
}
